<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TECHNOMVC</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

  <div class="wrapper">
    <header>
        <h1 class="title">TECHNO MVC</h1>
        <nav class="nav">
            {{#if loggedIn}}
            <a href="/" class="nav">HOMEPAGE</a>
            <a href="/dashboard" class="nav">DASHBOARD</a>
            <a href="/dashboard/create/" class="nav">CREATE A POST</a>
            <button id="logout" class="button">LOGOUT</button>
            {{else}}
            <a href="/" class="nav">HOMEPAGE</a>
            <a href="/login" class="button">LOGIN</a>
            {{/if}}
        </nav>
    </header>

    <main>
            {{{ body }}}
    </main>

    <footer class="footer">
        <div class="row">
            <p>
            <a href="/">HOMEPAGE</a>{{#if loggedIn}} | 
            <a href="/dashboard/">DASHBOARD</a> | 
            <a href="/dashboard/create/">CREATE A POST</a>
            {{else}}
             | <a href="/login/">LOGIN</a>
            {{/if}}
            </p>
        </div>
      <div class="row">
    <p>
      <strong>TECHNO MVC</strong> 
      <a href="https://github.com/AdamGabo/TechnoMVC"><i class="fab fa-github"></i></a> |  
    </p>
  </div>
    </footer>
  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>